<%- include('cabecalho.ejs') %>

<style>
    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    label {
        margin-bottom: 5px;
    }

    input[type='text'],
    input[type='number'],
    input[type='date'] {
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    input[type='submit'] {
        padding: 8px 20px;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
    }

    input[type='submit']:hover {
        background-color: #4CAF50;
    }
</style>
<form method="post">
    <label for="id">Id</label>
    <input type="number" name="id" id="id" required readonly value="<%=atividade._id%>"><br>
    
    <label for="atividadeidentificador">Identificador</label>
    <input type="number" name="identificador" id="identificador" required placeholder="Número identificador da atividade" value="<%=atividade.atividadeidentificador%>"><br>
   
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" required placeholder="Nome da atividade" value="<%=atividade.nome%>"><br>

    <label for="duracao">Duração</label>
    <input type="time" name="duracao" id="duracao" required placeholder="Duração da atividade" value="<%=atividade.duracao%>"><br>
    
    <label for="local">Local</label>
    <input type="text" name="local" id="local" required placeholder="Local da atividade" value="<%=atividade.local%>"><br>
    
    <label for="pontuacao">Pontuação</label>
    <input type="number" name="pontuacao" id="pontuacao" required placeholder="Pontuação da atividade" value="<%=atividade.pontuacao%>"><br>
    
    <label for="numparticiantes">Número de participantes</label>
    <input type="number" name="numparticiantes" id="numparticiantes" required placeholder="Número de participantes" value="<%=atividade.numparticiantes%>"><br>
    
    <label for="ano">Ano</label>
    <input type="date" name="ano" id="ano" required placeholder="Ano da atividade" value="<%=atividade.ano%>"><br>
    
    <input type="submit" value="Adicionar" style="margin-top: 10px;">
</form>

<%- include('rodape.ejs') %>
