<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Alunos</title>
</head>
<body>
    <table>
        <tr>
            <th>Matricula</th>
            <th>Nome</th>
            <th>Identidade</th>
            <th>Cpf</th>
            <th>Email</th>
        </tr>

        <%Alunos.forEach(function(aluno){%>
            <tr>
                <td><%=aluno.matricula%></td>
                <td><%=aluno.titulo%></td>
                <td><%=aluno.nome%></td>
                <td><%=aluno.identidade%></td>
                <td><%=aluno.cpf%></td>
                <td><%=aluno.email%></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>