<%-include('cabecalho.ejs')%>

<form method="post">
    <input type="text" name="pesquisar" id="pesquisar">
    <input type="submit" value="Pesquisar">
</form>


<table>
    <tr>
        <th>Identificador</th>
        <th>Nome</th>
        <th>Editar</th>
        <th>Delete</th>
    </tr>

    <%fiscal.forEach(function(fiscal){%>
    <tr>
        <td><%=fiscal.fiscalidentificador%></td>
        <td><%=fiscal.nome%></td>
        <td><a href="/edtfiscal/<%=fiscal._id%>">Editar</a></td>
        <td><a href="/delfiscal/<%=fiscal._id%>">Delete</a></td>
    </tr>
    <% }) %>
</table>
<%-include('rodape.ejs')%>